body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fbfbfd;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #946e1b;
    color: #fff;
    padding: 20px;
}

.container {
    margin: 20px;
    padding: 20px;
}

.answers {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.question {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.answer-button {
    background-color: #79757ead;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.answer-button:hover {
    background-color: #3700b3;
}

footer {
    margin-top: 20px;
    font-size: 0.9rem;
}